extends layout 

block content
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
        // Set active Button
        document.querySelectorAll(".active")[0].classList.remove("active");
        document.querySelectorAll(".nav-link")[1].classList.add("active");

    div.container
        br
        div.row.justify-content-center
            div.card(style='width: 30rem;')
                div.card-body
                    h5.card-title Anleitung 
                    h6.card-subtitle.mb-2.text-muted Bitte befolgen Sie die folgenden Schritte
                    p.card-text
                      | Hier wird in kürze eine Anleitung für das Teilnehmen Gruppenkalibrierung eingefügt.
                    h6.card-subtitle.mb-2.text-muted WICHTIG!!! Folgen Sie auch immer den Anweisungen der Person, welche diese Kalibrierung leitet
            div.row.justify-content-center
              div.col-3
              div.col-auto
                br
                div.input-group.mb-3
                    span.input-group-text Group-Code
                    input#input_GroupCode.form-control(placeholder='1234567')
                div.btn.btn-primary#btn_Gruppenkalibrierung Gruppenkalibrierung beitreten 
                div#groupAusgabe
                br
              div.col-3
                br
                p#output_Error.text-danger.fs-5
            div.row.justify-content-center
              div.col-2
              div.col-auto
                div.btn.btn-primary#btn_QRScannen QR Code scannen 
                div#QRscannen
              div.col-2
