extends layout

block content 
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
        // Set active Button
        document.querySelectorAll(".active")[0].classList.remove("active");
        document.querySelectorAll(".nav-link")[1].classList.add("active");

    div.container
        br
        div.row.justify-content-center 
          .col-9
            div.row.justify-content-center
              div.col-auto.align-middle
                div.card(style='width: 30rem;')
                  div.card-body
                      h5.card-title Anleitung
                      h6.card-subtitle.mb-2.text-muted Bitte befolgen Sie die folgenden Schritte
                      p.card-text
                        | Hier wird in k端rze eine Anleitung f端r die Leitung Gruppenkalibrierung eingef端gt.
                br
                br
          .col-5
            div.row.justify-content-center
              div.col-10.align-middle
                div.input-group.mb-3
                    span.input-group-text Group-Code
                    input#input_GroupCode.form-control(placeholder='1234567')
                div.btn.btn-primary#btn_Gruppenkalibrierung Kalibrierungsraum erstellen 
                br
                p#output_Error_Cal.text-danger.fs-5
          .col-5
            div.row.justify-content-center
              .col-5.align-middle
                div.btn.btn-primary#btn_XL2 XL2-Tonaufnahme starten
              .col-5.align-middle
                div.btn.btn-primary#btn_recording Kalibrierungssound starten
            br
            br
            br
          .col-auto.align-middle
            .btn.btn-success.btn-lg#uploadData Daten f端r Teilnehmer freigeben
            br
            p#output_Error_Up.text-danger.fs-5


        p#soundArray(display="none")= array

    script(src='/js/kal-group-lead.js')
    script(src='/js/qrcode.js')