extends layout
  
block content

  script.
    // Set active Button
    document.querySelectorAll(".active")[0].classList.remove("active");
    document.querySelectorAll(".nav-link")[1].classList.add("active");

  div
    br
    div.btn.btn-primary#btn_Kalibrierung Click here to start your single Kalibration
    div#singleAusgabe 
    br
    br
    div.btn.btn-primary#btn_Gruppenkalibrierung Nehme an der nächsten Gruppenkalibrierung teil
    div#groupAusgabe 

  
  script(src='/js/kalibrierung.js')

