extends layout

block content

    script.
        // Set active Button
        document.querySelectorAll(".active")[0].classList.remove("active");
        document.querySelectorAll(".nav-link")[3].classList.add("active");

    a(href='https://opensensemap.org/') OpenSenseMap
    
    #map(style='width: 600px; height: 400px;')
      