extends layout

block content

  script.
    // Set active Button
    document.querySelectorAll(".active")[0].classList.remove("active");
    document.querySelectorAll(".nav-link")[2].classList.add("active");

  .row.gy-4.gx-lg-3.justify-content-md-center.mt-3 
    .col-lg-4.col-xs-12.mb-3
      .card.shadow.p-4.h-100
        h2.card-title 1. Neue Messung hinzuf체gen
        div.mt-3
          #EingabeDiv
            |Ger채tename 
            i (z.B SUGUCS12)
            |:
            input#NameDiv.form-control.mt-3(type='text' maxLength = "9")
            p
            |OpenSenseBox ID: 
            input#OpenSenseBoxDiv.form-control.mt-3(type='text' maxLength = "24" placeholder= " 638b1a8f11467c001b6b1af3")
            p 
            | Ermittle Deine Browser Koordinaten
            span.Eingabe
            | : 
            p#demo
            a.btn.btn-primary.btn-sm(onclick='getLocation()') mein Standort
    .col-lg-4.col-xs-12.mb-3
      .card.shadow.p-4.h-100
        h2.card-title 2. Soundaufnahme
        div.mt-3
          textarea#db.form-control-lg(name='db' rows="1")
          p
          #Div Gib erst die anderen Daten ein, bevor du eine Soundmessung machst.
          button.btn.btn-primary.btn-sm.mt-3(id="messung" style="background:green") Messung starten
          meter#volumeMeterEl(high='0.25' max='0.5' value='0')
          p
          button.btn.btn-primary.btn-sm(id="messungStoppen") Messung stoppen
          p#ausg
    .col-lg-4.col-xs-12.mb-3
      .card.shadow.p-4.h-100
        h2.card-title 3. Open Sense Map
        div.mt-3
          | F체ge deine Messung zu Open Sense Map hinzu:
          a.btn.btn-primary.btn-sm.mt-3(type='button' id="hinzufuegen") Hinzuf체gen
          #FehlerDiv Sorry, du musst erst eine Soundmessung machen.
          #FehlerDiv2 Sorry, du musst erst deinen Standort einlesen.
          #FehlerDiv3 Sorry, du musst erst einen Namen eingeben.
    .col-lg-12.col-sm-12.mb-3
      .card.shadow.p-4
        .leaflet-container#map


  script(src='/js/webaudio.js')
  script(src='/js/leaflet.js')