extends layout

block content

  script.
    // Set active Button
    document.querySelectorAll(".active")[0].classList.remove("active");
    document.querySelectorAll(".nav-link")[2].classList.add("active");

  .row.gx-10.gx-lg-3.mt-3
    .col-lg-6.col-xs-12.mb-3
      .card
        .card-body
          h2.card-title Soundaufnahme
          div
            textarea#db(name='db' rows='4' cols='50')
            p
            a.btn.btn-primary.btn-sm(type='button' id="messung") Messung starten!
            p
            a.btn.btn-primary.btn-sm(type='button' id="messungStoppen") Messung stoppen!
    .col-lg-6.col-xs-12.mb-3
      .card
        .card-body
          div
            | Click here to read in your personal 
            span.Eingabe Browser-Coordinates
            | : 
            a.btn.btn-primary.btn-sm(onclick='getLocation()') Try It
          p#demo
          #map.mt-3

  script(src='/js/webaudio.js')
  script(src='/js/leaflet.js')