body {
  min-height: 100%;
  text-align: justify;
}

#FehlerDiv{
  text-align: center;
  color: red;
  display: none;
}
#FehlerDiv2{
  text-align: center;
  color: red;
  display: none;
}
#FehlerDiv3{
  text-align: center;
  color: red;
  display: none;
}
.allign-middle{
  text-align: center;
}